.container{
    width: 700px;
    height: 600px;
    border: 2px solid rgb(1, 1, 7);
   
    border-radius: 10px;
    overflow: scroll;
}
.card{
    width: 200px;
    height: 200px;
    border: 2px solid rgb(233, 12, 12);
    margin: 5px;
    display: inline-block;
    position: sticky;
    top: 1px;
    box-shadow: 10px 10px 10px lightblue, -10px -10px 10px lightblue;
}

